body {
    background-color: black;
    display: flex;
    flex-direction: column; /* Para alinear los elementos en columna */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

label {
    color: white;
    margin-bottom: 10px; /* Espacio entre el texto y el campo de entrada */
}

input {
    width: 80%; /* Ancho del campo de entrada, el 80% del ancho disponible */
    max-width: 300px; /* Máximo ancho del campo de entrada */
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}