body {
    background-color: black; /* Establece el fondo negro */
    color: white; /* Establece el color del texto en blanco */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

label {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}